astunparse==1.6.3
bd-time==0.0.1
bode-time==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
ghp-import==2.0.2
idna==3.3
importlib-metadata==4.8.1
Jinja2==3.0.2
keyboard==0.13.5
Markdown==3.3.4
markdown2==2.4.1
MarkupSafe==2.0.1
mergedeep==1.3.4
mkdocs==1.2.3
mkdocs-autorefs==0.3.0
mkdocs-material==7.3.4
mkdocs-material-extensions==1.0.3
mkdocstrings==0.16.2
packaging==21.0
Pillow==8.4.0
pydamo-test==1.0.0
pydmdll @ file:///C:/Users/Gao%20yongxian/PycharmProjects/pydmdll/dist/pydmdll-0.0.4-py3-none-any.whl
Pygments==2.10.0
pymdown-extensions==9.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytkdocs==0.12.0
pywin32==302
PyYAML==6.0
pyyaml_env_tag==0.1
requests==2.26.0
six==1.16.0
sqlitedict==1.7.0
tkhtmlview==0.1.0.post1
urllib3==1.26.7
watchdog==2.1.6
zipp==3.6.0
